.TVShowCard {
  background: $c-bg-card;
  border-radius: 3px;
  border-top: 4px solid $c-bg-header;
  display: flex;
  flex-direction: column;
  margin: 0 0 1em;

  &-row {
    display: flex;
    flex-direction: row;
  }

  &-image {
    @include normalize-figure();
    overflow: hidden;
    width: 35%;

    img {
      width: 100%;
    }
  }

  &-content {
    width: 65%;
  }

  &-title {
    margin: 1rem;
  }

  &-summary {
    font-size: .8em;
    height: 7.5em;
    margin: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-info {
    border-top: 1px solid $c-bg-body;
    justify-content: space-around;
    padding: .5em;

    &-rating {
      font-size: .8em;

      .fa {
        color: $c-star;
      }
    }
  }

}
