.AppHeader {
  background: $c-bg-header;
  height: 48px;
  position: fixed;
  top: 0;
  width: 100%;

  &-title {
    color: $c-text-header;
    font-family: $font-title;
    font-weight: 100;
    text-align: center;
    text-transform: lowercase;
  }
}
