// -- Colors
$c-bg-body: #d4d4d4;
$c-bg-header: #70a24d;
$c-bg-card: #fafafa;
$c-star: #fbdf22;

$c-text-card: #888888;
$c-text-header: #fafafa;

// -- Fonts Families
$font-body: 'Lato', 'sans serif';
$font-title: 'Righteous', 'sans serif';
