// -- Colors
$c-bgBody: #d4d4d4;
$c-bgHeader: #70a24d;
$c-bgCard: #fafafa;
$c-star: #fbdf22;

$c-textCard: #888888;
$c-textHeader: #fafafa;

// -- Fonts Families
$font-body: 'Lato', 'sans serif';
$font-title: 'Righteous', 'sans serif';
