<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TVify</title>
  <meta name="description" content="Add your favorite TVShows and track their episodes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{> header }}

  {{{ body }}}

  {{> footer }}

  <script type="text/javascript" async>
    WebFontConfig = {
      google: { families: [ 'Lato:400,700:latin', 'Righteous::latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <script type="text/javascript" src="js/main.js" async></script>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
</body>
</html>
