@import 'base/reset';
@import 'base/variables';
@import 'base/mixins';

body {
  -webkit-font-smoothing: antialiased;
  background: $c-bg-body;
  font-family: $font-body;
  font-size: 16px;
  padding-top: 50px;
  text-rendering: optimizeLegibility;
}

.AppContainer {
  max-width: 50em;
  padding: 1em;
}

@import 'components/header';
@import 'components/card';
